html {
  display: flex;
  justify-content: center;
}

body {
  background-color: aliceblue;
  width: 900px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.new-item-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form-row {
  display: flex;
  flex-direction: column;
}
